/* FILE Konfigurasi untuk kebutuhan grafik */

.svg-container{
    overflow-y: auto!important; /* Mengaktifkan scroll horizontal */
    width: 786px; /* Atur lebar sesuai kebutuhan */
    scroll-behavior: smooth; /* Menambahkan scroll smooth */
}

#tooltip {
    position: absolute;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 12px;
    max-width: 190px;
  }