/* File konfigurasi loading, For more read https://css-loaders.com/ */

/* HTML: <div class="loader"></div> */
.loader3 {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color:#07AC7B;
  background:linear-gradient(90deg,#000 calc(50% - 0.5ch),#C02942 0 calc(50% + 0.5ch),#000 0) right/calc(200% + 1ch) 100%;
  -webkit-background-clip:text;
          background-clip:text;
  animation: l8 2s infinite steps(11);
}
.loader3:before {
  content:"Loading..."
}
@keyframes l8 {to{background-position: left}}

.loader3 {
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  display: inline-grid;
  color: #07AC7B;
}

@media screen and (max-width : 480px) {
  .loader {
    font-size: 16px;
  }
}

.loader:before,
.loader:after {
  content: "Loading...";
  grid-area: 1/1;
  -webkit-mask: linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
  animation: l11 0.6s infinite cubic-bezier(0.5, 220, 0.5, -220);
}

.loader:after {
  -webkit-mask-position: 1ch 50%;
  --s: -1;
}

@keyframes l11 {
  100% {
    transform: translateY(calc(var(--s, 1)*0.1%))
  }
}

.css-1wvake5{
  border-color: transparent!important;
  position: relative;
  -webkit-transition: width, left, right, 300ms;
  transition: width, left, right, 300ms;
  width: 250px;
  min-width: 250px;
}